@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Sora:wght@600;700;800&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --primary-color: #FF5B2E;
    --heading-color: #000958;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.4rem;
    font-weight: 400;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background: #FFFAF5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Sora", sans-serif;
}

input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}

/* Common */
a {
    text-decoration: none;
}

.btn {
    --height: 56px;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 130px;
    line-height: var(--height);
    height: var(--height);
    border: 1px solid rgba(0, 0, 88, .7);
    border-radius: 99px;
    font-weight: 600;
    font-size: 1.6rem;
    text-align: center;
    color: var(--heading-color);
}

.btn--primary {
    color: #fff;
    background-color: var(--primary-color);
    border-color: currentColor;
}

.btn--white {
    background-color: transparent;
    color: var(--primary-color);
    border-color: currentColor;
}

.btn-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    background: #FFFAF5;
    box-shadow: 4px 3px 10px -1px rgba(191, 41, 0, 0.4);
    border-radius: 50%;
}

.btn:hover {
    cursor: pointer;
    opacity: 0.8;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.logo {
    cursor: pointer;
}

.section__heading {
    font-family: 'Sora', sans-serif;
    font-weight: 700;
    font-size: 5.2rem;
    line-height: 1.19;
    color: var(--heading-color);
}

.section__desc {
    margin-top: 24px;
    font-size: 1.6rem;
    line-height: 1.88;
    color: #656689;
}

.section__label {
    margin-bottom: 15px;
    font-family: 'Sora';
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1;
    color: #5E6085;
}

/* Header */
.header__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 32px;
}

.navbar__list {
    display: flex;
}

.navbar__link {
    padding: 10px 18px;
    font-weight: 500;
    line-height: 1;
    cursor: pointer;
    color: #5E6085;
}

.navbar__link:hover {
    text-shadow: 1px 0 0 currentColor;
    color: #000958;
}

.header__btn {
    --height: 50px;

    min-width: 117px;
}

/* Hero */
.hero {
    margin-top: 100px;
}

.hero__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 120px;
}

.hero__media {
    display: flex;
    position: relative;
    padding-bottom: 94px;
}

.hero__img-wrap {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 388px;
    height: 488px;
    background: #fe997b;
    border-radius: 16px;
    border: 3px solid #fff;
}

.hero__img {
    max-width: 100%;
    object-fit: cover;
    border-radius: inherit;
}

.hero__decor {
    position: absolute;
    z-index: -1;
}

.hero__decor-left {
    left: -58px;
    bottom: 10px;
}

.hero__decor-right {
    top: 16px;
    right: -43px;
}

.hero__img-wrap-small {
    width: 186px;
    height: 244px;
    margin: 0 0 -58px -24px;
    align-self: flex-end;
    border: 2px solid #f7dddf;
    background: #faa7ad;
}

.hero__list {
    position: absolute;
    background: #fff;
    bottom: 0;
    left: 129px;
    width: 250px;
    height: 156px;
    padding: 18px 14px 18px;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
    border-radius: 10px
}

.hero-list-item {
    display: flex;
}

.hero-list-item__thumb {
    width: 40px;
    height: 40px;
    background: #FEC23F;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 9px;
}

.hero-list-item:nth-of-type(2) .hero-list-item__thumb {
    margin-bottom: 0;
    background: #c6e2fa;
}

.hero-list-item__title {
    font-family: Sora, sans-serif;
    font-weight: 600;
    line-height: 1;
    color: #181E52;
}

.hero-list-item____skeleton {
    margin-top: 6px;
    height: 4px;
    left: 329.49px;
    top: 643px;
    width: var(--width, 118px);
    background: #000958;
    opacity: 0.08;
    border-radius: 10px;
}

.hero-list-item__separate {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 222px;
    height: 0px;
    border: 2px solid #F2F2F2;
}

.hero__heading {
    max-width: 517px;
    font-family: 'Sora', sans-serif;
    font-weight: 800;
    font-size: 6.6rem;
    line-height: 1.15;
    color: var(--heading-color);
}

.hero__desc {
    width: 391px;
    margin-bottom: 38px;
}

.hero-cta {
    display: flex;
    align-items: center;
    column-gap: 24px;
}

.hero-cta__link {
    --height: 60px;
    min-width: 190px;
    font-size: 1.6rem;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}

.hero-cta__icon {
    margin-left: 10px;
}

.hero-cta__call {
    font-weight: 500;
    font-size: 16px;
    line-height: 1;
    color: #000958;
}

.hero-cta__call:hover {
    text-decoration-line: underline;
}

/* About */
.about {
    margin-top: 77px;
}

.about__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 61px 0 53px;
    row-gap: 146px;
}

.about__heading {
    width: 446px;
}

.about__desc {
    width: 431px;
}

.about__checklist {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    gap: 36px;
    margin-top: 54px;
    margin-right: 108px;
}

.about__check-item {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
    font-size: 1.8 rem;
    line-height: 1;
    color: #48496A;
}

.about__check-item::before {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    background: var(--primary-color);
    box-shadow: 0px 4px 15px -3px rgba(255, 93, 49, 0.69);
    border-radius: 4px;
}

.about__check-item::after {
    position: absolute;
    content: url(../assets/icon/check.svg);
    left: 5px;
    top: 2px;
}

.about__media {
    position: relative;
    bottom: 0;
}

.about__card {
    text-align: center;
    position: absolute;
    top: 157px;
    left: 0;
    padding: 31px 26px 29px;
    background: #5BD6E2;
    box-shadow: -15px 26px 48px rgba(85, 240, 255, 0.17);
    border-radius: 10px;
}

.about__card-title {
    font-family: 'Sora', sans-serif;
    font-weight: 700;
    font-size: 4.2rem;
    line-height: 1;
    color: #FFFFFF;
}

.about__card-decor {
    position: absolute;
    top: -39px;
    right: -32px;
}

.about__card-desc {
    margin-top: 14px;
    width: 83px;
    line-height: 1.43;
    color: #C6F4F9;
}

.about__img-wrap {
    position: relative;
    margin-left: 92px;
    width: 494px;
}

.about__img-wrap::after {
    content: '';
    position: absolute;
    height: 336px;
    display: inline-block;
    background: linear-gradient(180deg, #FCE0EF 0%, #FAC3D1 100%);
    border-radius: 16px;
    inset: auto 0 0 0;
    z-index: -1;
}

.about__img {
    width: 450px;
    margin: 0 auto;
    display: block;
}

.about__media-decor {
    position: absolute;
    top: 157px;
    right: -50px;
    z-index: -1;
}

.about__img-wrap-bottom {
    margin: 0;
    width: 458px;
    height: 500px;
    background: linear-gradient(180deg, #C6E2FA 0%, #94C2EA 100%);
    border: 2px solid #FFFFFF;
    box-shadow: 0px 17px 77px -8px rgba(190, 165, 139, 0.17);
    border-radius: 18px;
    z-index: -1;
}

.about__img-wrap-bottom::after {
    content: none;
}

.about__img-bottom {
    width: 100%;
}

.about__decor-img {
    position: absolute;
}

.about__decor-img:nth-child(1) {
    top: 12px;
    right: 63px;
}

.about__decor-img:nth-child(2) {
    top: 33px;
    right: -21px;
}

.about__decor-img:nth-child(3) {
    top: -16px;
    right: 13px;
}

.about__decor-img:nth-child(4) {
    right: -33px;
    top: 268px;
}

.about__decor-img:nth-child(5) {
    bottom: 150px;
    right: 19px;
}

.about__decor-img:nth-child(6) {
    right: -24px;
    bottom: -40px;
}

.about__decor-img:nth-child(7) {
    right: -33px;
    bottom: -47px;
}

.about__decor-img:nth-child(8) {
    right: -42px;
    bottom: -55px;
}

.about__heading-bottom {
    width: 543px;
}

.about__desc-bottom {
    width: 511px;
}

.tab__list {
    display: flex;
    position: relative;
    margin-top: 52px;
    column-gap: 56px;
}

.tab__list::after,
.tab__content-more::after,
.tab__item--active::after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    border-radius: 1px;
    background: #ff5b2e;
    opacity: 0.07;
}

.tab__item {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding-bottom: 14px;
    cursor: pointer;
}

.tab__item--active::after {
    width: 95px;
    opacity: 1;
}

.tab__icon {
    width: 20px;
}

.tab__title {
    font-family: 'Sora', sans-serif;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1;
    color: #48496A;
}

.tab__content-item {
    /* display: none; */
} 

.tab__content-item--active {
    display: block;
} 

.tab__content-desc {
    width: 391px;
    padding-top: 36px;
    line-height: 1.71;
    color: #656689;
}

.tab__content-more {
    position: relative;
    display: inline-block;
    margin-top: 32px;
    padding-bottom: 5px;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1;
    color: #FF5D31;
}

.tab__content-more::after {
    opacity: 1;
    height: 1.5px;
}

/* Service */
.service {
    background-color: #FFF6ED;
    margin-top: 152px;
}

.service__inner {
    padding: 68px 0 100px;
}

.service__top {
    text-align: center;
}

.service__body {
    display: flex;
    align-items: center;
    column-gap: 65px;
    margin-top: 71px;
}

.service__column {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.service__item {
    width: 294px;
    background: white;
    padding: 30px 0 30px 28px;
    border: 2px solid rgba(255, 188, 122, 0.26);
    border-radius: 10px;
}

.service-item__heading {
    padding-left: 12px;
    position: relative;
    font-family: 'Sora';
    font-weight: 600;
    font-size: 2.2rem;
    color: var(--heading-color);
}

.service-item__heading::after {
    content: '';
    position: absolute;
    inset: 0 auto 0 0;
    width: 2px;
    border-radius: 1px;
    background: linear-gradient(#ff5b2e, #ffa187);

}

.service-item__desc {
    width: 244px;
    margin-top: 18px;
    line-height: 1.71;
    color: #656689;
}

.service-item__more {
    display: flex;
    margin-top: 24px;
    align-items: center;
    font-family: 'Sora', sans-serif;
    font-size: 1.2rem;
    color: #34396A;
}

.service-item__more::after {
    content: url('../assets/icon/arrow-up.svg');
    margin: 1px 0 0 6px;
}

.service__media {
    position: relative;
    margin-top: 18px;
}

.service__media::after {
    position: absolute;
    content: '';
    display: inline-block;
    height: 350px;
    left: 16px;
    right: 16px;
    bottom: 0;
    background: linear-gradient(180deg, #9DF1FB 0%, #73D0DB 108.14%);
    border-radius: 10px;
}

.service__img {
    position: relative;
    width: 100%;
    z-index: 1;
    display: block;;
}

.service__cta-wrap {
    display: flex;
    justify-content: center;
    margin-top: 21px;
}

.service__cta {
    width: 214px;
}

/* Member */
.member {
    padding: 130px 0;
}

.member__top {
    text-align: center;
    margin-bottom: 59px;
}

.member__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 37px;
}

.member__cta-wrap,
.member__item {
    text-align: center;
}

.member-item__media {
    position: relative;
    margin: 0 16px;
    border-radius: 130px;
}

.member-item__media::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 266px;
    left: 0;
    bottom: 0;
    border-radius: inherit;
}

.member__item:nth-child(1) .member-item__media::before {
    background: linear-gradient(180deg, #90CCFF 0%, #59A8EB 95.96%);
}

.member__item:nth-child(2) .member-item__media::before {
    background: linear-gradient(180deg, #FF997E 0%, #F3752E 100%);
}

.member__item:nth-child(3) .member-item__media::before {
    background: linear-gradient(180deg, #FABF3E 0%, #FFA14A 100%);
}

.member__item:nth-child(4) .member-item__media::before {
    background: linear-gradient(180deg, #5BD6E2 0%, #00A7CC 100%);
}

.member-item__media::after {
    content: url(../assets/icon/mem-icon-01.svg);
    bottom: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.member__item:nth-child(1) .member-item__media::after {
    content: url(../assets/icon/mem-icon-01.svg);
}

.member__item:nth-child(2) .member-item__media::after {
    content: url(../assets/icon/member-icon.svg);
}

.member__item:nth-child(3) .member-item__media::after {
    content: url(../assets/icon/member-icon-03.svg);
}

.member__item:nth-child(4) .member-item__media::after {
    content: url(../assets/icon/member-icon-04.svg);
}

.member__item:nth-child(even) .member-item__media::after {
    top: 16px;
    bottom: initial;
}

.member-item__img {
    position: relative;
    z-index: 1;
    width: 100%;
    display: block;
    border-radius: inherit;
}

.member-item__info {
    margin-top: 34px;
}

.member-item__position {
    line-height: 1;
    color: #656689;
}

.member-item__title {
    margin-top: 14px;
    font-family: 'Sora';
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 1;
    color: var(--heading-color);
}

.member__cta-wrap {
    margin-top: 48px;
}

.member__cta {
    width: 193px;
    font-weight: 500;
}

/* Pricing */
.pricing {
    padding: 86px 0;
    text-align: center;
    background-color: #FFF6ED;
}

.pricing__desc {
    display: inline-block;
    text-align: center;
    width: 709px;
}

/* Pricing */
.pricing__switch-wrap {
    margin-top: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.pricing__switch-inner {
    position: relative;
    margin-bottom: 56px;
}

.pricing__switch-label {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 276px;
    height: 56px;
    padding: 0 40px;
    border: 1px solid var(--primary-color);
    border-radius: 31px;
    user-select: none;
}

.pricing__switch-label::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 140px;
    height: 100%;
    background: var(--primary-color);
    border-radius: inherit;
    cursor: pointer;
}

.pricing__switch-value {
    position: relative;
    z-index: 1;
    font-weight: 500;
    font-size: 16px;
    line-height: 1;
    color: #fff;
}

.pricing__switch-value + .pricing__switch-value {
    margin-left: 80px;
}

.pricing__switch-input:checked + .pricing__switch-label::before {
    width: 131px;
    left: auto;
    right: 0;
}

.pricing__switch-input:not(:checked) + .pricing__switch-label .pricing__switch-value:nth-of-type(2), 
.pricing__switch-input:checked + .pricing__switch-label .pricing__switch-value:nth-of-type(1) {
    color: var(--primary-color);
}

.pricing__sale-off {
    position: absolute;
    top: -10px;
    right: -112px;
}

.pricing__list {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 44px;
}

.pricing__item {
    text-align: left;
    padding: 30px 28px 25px;
    background: #FFFFFF;
    box-shadow: 0px 20px 44px rgba(195, 108, 22, 0.06);
    border-radius: 20px;
}

.pricing-item__type {
    font-size: 1.2rem;
    line-height: 1;
    color: var(--primary-color);
}

.pricing-item__heading {
    margin: 8px 0 24px;
    font-family: 'Sora';
    font-weight: 600;
    font-size: 18px;
    line-height: 1;
    color: #3F4065;
}

.pricing-item__value {
    font-family: 'Sora';
    font-weight: 700;
    font-size: 3.3rem;
    line-height: 1.03;
    color: #000958;
}

.pricing-item__btn {
    --height: 44px;
    width: 246px;
    margin: 22px 0 24px;
}

.pricing-item__btn:hover {
    cursor: pointer;
    background: var(--primary-color);
    color: #fff;
}

.pricing-item__item {
    margin-bottom: 18px;
    line-height: 1;
    color: #656689;
}

.pricing-item__item::before {
    content: url(../assets/icon/check-price.svg);
    display: inline-block;
    margin-right: 15px;
}

/* Review */
.review {
    margin-top: 53px;
}

.review__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.review__list {
    display: flex;
    justify-content: center;
    column-gap: 113px;
}

.review__media {
    position: relative;
    width: 274px;
    height: 427px;
    border-radius: 137px;
    overflow: hidden;
}

.review__media::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 350px;
    bottom: 0;
    left: 0;
    background: #FFDA54;
    border-radius: inherit;
}

.review__media-img {
    width: 100%;
    display: block;
    position: relative;
    z-index: 1;
    object-fit: cover;
}

.review-item__content {
    margin-top: 113px;
}

.review__desc {
    margin: 24px 0 34px;
    width: 553px;
    font-size: 1.8rem;
    line-height: 1.56;
    color: #000000;
}

.review__name {
    margin-left: 28px;
    position: relative;
    font-family: 'Sora';
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1;
    color: #282828;
}

.review__name::before {
    position: absolute;
    content: '';
    display: inline-block;
    width: 20px;
    height: 2px;
    background-color: #000;
    top: 50%;
    left: -28px;
    transform: translateY(-50%);
}

.review__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background: transparent;
    color: var(--primary-color);
    border: 1.5px solid #FFD1C4;
}

.review__btn:first-child {
    left: 0;
}

.review__btn:last-child {
    right: 0;
}

.review__btn:hover {
    border-color: #ff5b2e;
    box-shadow: 0px 5px 27px rgba(255, 91, 46, 0.3);
    cursor: pointer; 
    color: #fff;
    background: var(--primary-color);
}

.review__dots {
    margin-top: 56px;
    display: flex;
    justify-content: center;
    column-gap: 8px;
}

.review__dot {
    width: 8px;
    height: 8px;
    border: 1px solid #FF5B2E;
    border-radius: 4px;
}

.review__dot:hover {
    background: #ff5b2e;
    cursor: pointer;
}

.review__dot--active {
    width: 24px;
    background: #ff5b2e;
}

/* Blog */
.blog {
    margin-top: 130px;
}

.blog__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blog__desc {
    margin-top: 0;
    width: 350px;
}

.blog__btn {
    margin-top: 24px;
    min-width: 182px;
}

.blog__list {
    margin-top: 54px;
    display: flex;
    justify-content: space-between;
    column-gap: 48px;
}

.blog__item {
    flex: 1;
}

.blog-item__top {
    position: relative;
    height: 362px;
    border-radius: 24px;
    padding: 24px 0 0 36px;
}

.blog__item:first-child .blog-item__top {
    background: #90CCFF;
}

.blog__item:nth-child(2) .blog-item__top {
    background: #FF997E;
}

.blog__item:last-child .blog-item__top {
    background: #5BD6E2;
}

.blog__label {
    font-family: 'Sora', sans-serif;
    line-height: 1.21;
    color: #FFFFFF;
}

.blog__media {
    display: block;
    position: absolute;
    bottom: 0;
}

.blog__media-img {
    display: block;
    width: 322px;
    height: 296px;
    object-fit: cover;
    object-position: center;
}

.blog-item__info {
    margin-top: 28px;
}

.blog-item__heading {
    font-family: 'Sora', sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 1.55;
    color: var(--heading-color);
}

.blog-item__desc {
    max-width: 355px;
    margin-top: 16px;
    line-height: 1.71;
    color: #656689;
}

/* Footer */
.footer {
    margin-top: 130px;
    background: linear-gradient(to right, #fff6ed 43%, transparent 42%);
}

.footer__inner {
    display: flex;
}

.footer__left {
    width: 42%;
    padding: 114px 0 148px;
}

.search-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 268px;
    height: 46px;
    margin: 40px 0 68px;
    border: 1px solid rgba(255, 91, 46, 0.25);
    border-radius: 99px;
    background: #fff;
}

.search-form__input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding: 16px 10px 16px 22px;
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 1.17;
    color: #656689;
    border-radius: inherit;
}

.footer__btn {
    margin-right: -1px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 46px;
    width: 46px;
    background: #FF5B2E;
    border-radius: 50%;
    outline: none;
    border: none;
    box-shadow: 0px 15px 28px -7px rgba(255, 91, 46, 0.3);
    color: #fff;
}

.footer__btn:hover {
    cursor: pointer;
    opacity: 0.9;
}

.footer__heading {
    margin-bottom: 16px;
    font-family: 'Sora', sans-serif;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.11;
    color: var(--heading-color);
}

.footer__social { 
    display: flex;
    align-items: center;
    justify-content: left;
    column-gap: 16px;
}

.footer__social-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background: #FFFFFF;
    border-radius: 50%;
    box-shadow: 0px 16px 28px -10px rgba(211, 132, 53, 0.33);
}

.footer__right {
    padding: 52px 0 48px;
}

.footer__row {
    margin-left: 129px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 58px 137px;
}

.footer__link {
    display: inline-block;
    margin-bottom: 6px;
    line-height: 2;
    color: #656689;
}

.footer__link:last-child {
    margin-bottom: 0;
}

.footer__copyright {
    margin: 52px 0 0 22px;
    font-size: 1.2rem;
    line-height: 1.17;
    color: #656689;
    opacity: 0.5;
}

/* z-index đi liền vs position:relative */
/* Tính kế thừa của border-radius -> có thể giúp cho image ẩn vào bên trong và nó không sẵn có ở lớp giả*/
/* Vị trí của ảnh phụ thuộc vào thẻ div lớn của nó -> có nghĩa là dựa trên thẻ div lớn làm gốc */