@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Sora:wght@600;700;800&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --primary-color: #FF5B2E;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Sora", sans-serif;
}

input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}
/* Common */
a {
    text-decoration: none;
}

.btn {
    --height: 56px;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 130px;
    line-height: var(--height);
    height: var(--height);
    border: 1px solid rgba(0, 0, 88, .7);
    border-radius: 99px;
    font-weight: 600;
    font-size: 1.4rem;
    text-align: center;
    color: #000958;
}

.btn--primary {
    color: #fff;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    background: #FFFAF5;
    box-shadow: 4px 3px 10px -1px rgba(191, 41, 0, 0.4);
    border-radius: 50%;
}

.btn:hover {
    cursor: pointer;
    opacity: 0.9;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.logo {
    cursor: pointer;
}

.section__heading {
    font-family: 'Sora', sans-serif;
    font-weight: 700;
    font-size: 5.2rem;
    line-height: 1.19;
    color: #000958;
}

.section__desc {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    color: #656689;
}

/* Header */
.header__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 32px;
}

.navbar__list {
    display: flex;
}

.navbar__link {
    padding: 10px 18px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1;
    cursor: pointer;
    color: #5E6085;
}

.navbar__link:hover {
    text-shadow: 1px 0 0 currentColor;
    color: #000958;
}

.header__btn {
    --height: 50px;

    min-width: 117px;
}

/* Hero */
.hero {
    margin-top: 100px;
}

.hero__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 120px;
}

.hero__media {
    display: flex;
    position: relative;
    padding-bottom: 94px;
}

.hero__img-wrap {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 388px;
    height: 488px;
    background: #fe997b;
    border-radius: 16px;
    border: 3px solid #fff;
}

.hero__img {
    max-width: 100%;
    object-fit: cover;
    border-radius: inherit;
}

.hero__decor {
    position: absolute;
    z-index: -1;
}

.hero__decor-left {
    left: -58px;
    bottom: 10px;
}

.hero__decor-right {
    top: 16px;
    right: -43px;
}

.hero__img-wrap-small {
    width: 186px;
    height: 244px;
    margin: 0 0 -58px -24px;
    align-self: flex-end;
    border: 2px solid #f7dddf;
    background: #faa7ad;
}

.hero__list {
    position: absolute;
    background: #fff;
    bottom: 0;
    left: 129px;
    width: 250px;
    height: 156px;
    padding: 18px 14px 18px;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
    border-radius: 10px
}

.hero-list-item {
    display: flex;
}

.hero-list-item__thumb {
    width: 40px;
    height: 40px;
    background: #FEC23F;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 9px;
}

.hero-list-item:nth-of-type(2) .hero-list-item__thumb {
    margin-bottom: 0;
    background: #c6e2fa;
}

.hero-list-item__title {
    font-family: Sora, sans-serif;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1;
    color: #181E52;
}

.hero-list-item____skeleton {
    margin-top: 6px;
    height: 4px;
    left: 329.49px;
    top: 643px;
    width: var(--width, 118px);
    background: #000958;
    opacity: 0.08;
    border-radius: 10px;
}

.hero-list-item__separate {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 222px;
    height: 0px;
    border: 2px solid #F2F2F2;
}

.hero__heading {
    max-width: 517px;
    font-family: 'Sora', sans-serif;
    font-weight: 800;
    font-size: 6.6rem;
    line-height: 1.15;
    color: #000958;
}

.hero__desc {
    width: 391px;;
    margin: 24px 0 38px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    color: #656689;
}

.hero-cta {
    display: flex;
    align-items: center;
    column-gap: 24px;
}

.hero-cta__link {
    --height: 60px;
    min-width: 190px;
    font-size: 1.6rem;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}

.hero-cta__icon {
    margin-left: 10px;
}

.hero-cta__call {
    font-weight: 500;
    font-size: 16px;
    line-height: 1;
    color: #000958;
}

.hero-cta__call:hover {
    text-decoration-line: underline;
}

/* About */
.about {
    margin-top: 77px;
}

.about__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 61px 0 53px;
    row-gap: 146px;
}

.about__label {
    font-family: 'Sora';
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1;
    color: #5E6085;
}

.about__heading {
    width: 446px;
    margin: 15px 0 24px;
}

.about__desc {
    width: 431px;
}

.about__checklist {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    gap: 36px;
    margin-top: 54px;
    margin-right: 108px;
}

.about__check-item {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
    font-size: 1.8 rem;
    line-height: 1;
    color: #48496A;
}

.about__check-item::before {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    background: var(--primary-color);
    box-shadow: 0px 4px 15px -3px rgba(255, 93, 49, 0.69);
    border-radius: 4px;
}

.about__check-item::after {
    position: absolute;
    content: url(../assets/icon/check.svg);
    left: 5px;
    top: 2px;
}

.about__media {
    position: relative;
    bottom: 0;
}

.about__card {
    text-align: center;
    position: absolute;
    top: 157px;
    left: 0;
    padding: 31px 26px 29px;
    background: #5BD6E2;
    box-shadow: -15px 26px 48px rgba(85, 240, 255, 0.17);
    border-radius: 10px;
}

.about__card-title {
    font-family: 'Sora', sans-serif;
    font-weight: 700;
    font-size: 4.2rem;
    line-height: 1;
    color: #FFFFFF;
}

.about__card-decor {
    position: absolute;
    top: -39px;
    right: -32px;
}

.about__card-desc {
    margin-top: 14px;
    width: 83px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.43;
    color: #C6F4F9;
}

.about__img-wrap {
    position: relative;
    margin-left: 92px;
    width: 494px;
}

.about__img-wrap::after {
    content: '';
    position: absolute;
    height: 336px;
    display: inline-block;
    background: linear-gradient(180deg, #FCE0EF 0%, #FAC3D1 100%);
    border-radius: 16px;
    inset: auto 0 0 0;
    z-index: -1;
}

.about__img {
    width: 450px;
    margin: 0 auto;
    display: block;
}

.about__media-decor {
    position: absolute;
    top: 157px;
    right: -50px;
    z-index: -1;
}

.about__img-wrap-bottom {
    margin: 0;
    width: 458px;
    height: 500px;
    background: linear-gradient(180deg, #C6E2FA 0%, #94C2EA 100%);
    border: 2px solid #FFFFFF;
    box-shadow: 0px 17px 77px -8px rgba(190, 165, 139, 0.17);
    border-radius: 18px;
    z-index: -1;
}

.about__img-wrap-bottom::after {
    content: none;
}

.about__img-bottom {
    width: 100%;
}

.about__decor-img {
    position: absolute;
}

.about__decor-img:nth-child(1) {
    top: 12px;
    right: 63px;
}

.about__decor-img:nth-child(2) {
    top: 33px;
    right: -21px;
}

.about__decor-img:nth-child(3) {
    top: -16px;
    right: 13px;
}

.about__decor-img:nth-child(4) {
    right: -33px;
    top: 268px;
}

.about__decor-img:nth-child(5) {
    bottom: 150px;
    right: 19px;
}

.about__decor-img:nth-child(6) {
    right: -24px;
    bottom: -40px;
}

.about__decor-img:nth-child(7) {
    right: -33px;
    bottom: -47px;
}

.about__decor-img:nth-child(8) {
    right: -42px;
    bottom: -55px;
}

.about__heading-bottom {
    width: 543px;
}

.about__desc-bottom {
    width: 511px;
}

.tab__list {
    display: flex;
    position: relative;
    margin-top: 52px;
    column-gap: 56px;
}

.tab__list::after,
.tab__content-more::after,
.tab__item--active::after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    border-radius: 1px;
    background: #ff5b2e;
    opacity: 0.07;
}

.tab__item {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding-bottom: 14px;
    cursor: pointer;
}

.tab__item--active::after {
    width: 95px;
    opacity: 1;
}

.tab__icon {
    width: 20px;
}

.tab__title {
    font-family: 'Sora', sans-serif;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1;
    color: #48496A;
}

.tab__content-item {
    /* display: none; */
} 

.tab__content-item--active {
    display: block;
} 

.tab__content-desc {
    width: 391px;
    padding-top: 36px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.71;
    color: #656689;
}

.tab__content-more {
    position: relative;
    display: inline-block;
    margin-top: 32px;
    padding-bottom: 5px;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1;
    color: #FF5D31;
}

.tab__content-more::after {
    opacity: 1;
    height: 1.5px;
}

/* Service */
.service {
    background-color: #FFF6ED;
    margin-top: 152px;
}

.service__inner {
    padding: 68px 0 100px;
}

.service__top {
    text-align: center;
}

.service__label {
    margin-bottom: 15px;
    font-family: 'Sora';
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1;
    text-align: center;
    color: #5E6085;
}

.service__body {
    display: flex;
    align-items: center;
    column-gap: 65px;
    margin-top: 71px;
}

.service__column {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.service__item {
    width: 294px;
    background: white;
    padding: 30px 0 30px 28px;
    border: 2px solid rgba(255, 188, 122, 0.26);
    border-radius: 10px;
}

.service-item__heading {
    padding-left: 12px;
    position: relative;
    font-family: 'Sora';
    font-weight: 600;
    font-size: 2.2rem;
    color: #000958;
}

.service-item__heading::after {
    content: '';
    position: absolute;
    inset: 0 auto 0 0;
    width: 2px;
    border-radius: 1px;
    background: linear-gradient(#ff5b2e, #ffa187);

}

.service-item__desc {
    width: 244px;
    margin-top: 18px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.71;
    color: #656689;
}

.service-item__more {
    display: flex;
    margin-top: 24px;
    align-items: center;
    font-family: 'Sora';
    font-weight: 400;
    font-size: 1.2rem;
    color: #34396A;
}

.service-item__more::after {
    content: url('../assets/icon/arrow-up.svg');
    margin: 1px 0 0 6px;
}

.service__media {
    position: relative;
    margin-top: 18px;
}

.service__media::after {
    position: absolute;
    content: '';
    display: inline-block;
    height: 350px;
    left: 16px;
    right: 16px;
    bottom: 0;
    background: linear-gradient(180deg, #9DF1FB 0%, #73D0DB 108.14%);
    border-radius: 10px;
}

.service__img {
    position: relative;
    width: 100%;
    z-index: 1;
    display: block;;
}

.service__cta-wrap {
    display: flex;
    justify-content: center;
    margin-top: 21px;
}

.service__cta {
    width: 214px;
    color: var(--primary-color);
    border-color: currentColor;
}